<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<title>Rooms</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	</head>
	<body>
		<input type="month"/>
		<div name="rooms" class="grid-container">
		  <div th:each="room : ${rooms}" name="room" class="grid-item">
			<label th:text="${room.roomName}">101</label>
			<div th:each="booking : ${room.bookings}" name="booking" class="grid-item">
				<table name="booking-info">
					<tr>
						<td colspan="2">
							<label th:text="${booking.fullName}" name="guest">Mr. Ronald McDonald</label>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<label th:text="${booking.period}" name="duration">1 day ago (March 2) ~ 2:30 PM today</label>
						</td>
					</tr>
					<tr>
						<td th:text="${booking.pax}" name="pax">2 pax</td>
						<td th:text="${booking.bedType}" name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		</div> 
	</body>
</html>