<!DOCTYPE html> 
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		
		<title>Rooms</title>
		<link rel="stylesheet" type="text/css" th:href="@{/css/grid.css}"/>
	</head>
	<body>
		<input type="month"/>
		<div name="rooms" class="grid-container">
		  <div name="room" class="grid-item">
			<label>101</label>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td colspan="2">
							<label name="guest">Mr. Ronald McDonald</label>
						</td>
					</tr>
					<tr>
						<td colspan="2">
							<label name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</label>
						</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		  <div name="room" class="grid-item">
			<label>102</label>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		  <div name="room" class="grid-item">
			<label>103</label>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		  <div name="room" class="grid-item">
			<label>104</label>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		  <div name="room" class="grid-item">
			<label>105</label>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		  <div name="room" class="grid-item">
			<label>106</label>
			<div name="stay" class="grid-item">
				<table name="stay-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
			<div name="reservation" class="grid-item">
				<table name="reservation-info">
					<tr>
						<td name="guest">Mr. Ronald McDonald</td>
						<td name="stay-duration">1 day ago (March 2) ~ 2:30 PM today</td>
					</tr>
					<tr>
						<td name="pax">2 pax</td>
						<td name="bed-type">Twin bed</td>
					</tr>
				</table>
			</div>
		  </div>
		</div> 
	</body>
</html>